body{
    background-color: rgb(228, 178, 102);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
}
#inputno{
    border-radius: 10px;
    width:27vw;
    height: 8vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#inputno:hover{
   background-color: rgb(141, 207, 207);
}
#generatebutton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    margin: 50px;
    width:10vw;
    height: 8vh;
}
#generatebutton:hover{
    background-color: rgb(204, 138, 205);
}
#grid{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(220, 123, 123);
    border: 1px solid black;
    border-radius: 10px;
}
#clear{
    border-radius: 1px;
}
#clear:hover{
    background-color: rgb(207, 14, 229);
}

